@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

// Variables

// Colors

$lighter-grey:#887e7e0a;
$light-grey: #ececec;
$mid-grey: #dbd9d9;
$grey: grey;

$black: #333;
$light-black: #00000033;

$light-purple: #F3EBF6;

$blue-grey: #CDDEEE;
$blue: #4482C1;
$dark-blue: #2A547E;


// Font family
$font-fam: Poppins, sans-serif;